%div.stat
  %ul
    %li
      %strong
        = @user.posts.count
      posts
    %li
      %strong.followers-stat
        = @user.followers.count
      = link_to 'followers', followers_user_path(@user)
    %li
      %strong.following-stat
        = @user.following.count
      = link_to 'following', following_user_path(@user)
