%div.stat
  %ul
    %li
      %strong
        = @user.posts.count
      posts
    %li
      %strong.followers-stat
        = @user.followers.count
      = link_to 'Followers', '#peopleModal', 'data-toggle' => 'modal', 'data-title' => 'Followers'
    %li
      %strong.following-stat
        = @user.following.count
      = link_to 'Following', '#peopleModal', 'data-toggle' => 'modal', 'data-title' => 'Following'

= render 'shared/people_modal', :locals => {:title => ''}
