.posts-wrapper.row
  -@posts.each do |p|
    .post
      .post-head
        .avatar
          = image_tag p.user.avatar.url
          = link_to p.user.username, user_path(p.user.username)
        .posted-at
          = link_to time_ago_in_words(p.created_at).to_s + ' ago', post_path(p)
      .image-center-block
        = image_tag p.image.url(:medium), class:'img-responsive'
      %p.caption
        = link_to p.user.username, user_path(p.user.username)
        = p.caption
