.posts-wrapper.row
  -if @post.user_id == current_user.id
    .text-center.manage-post.pull-right
      = link_to "Edit Post", edit_post_path(@post), class: 'btn btn-primary'
      = link_to "Delete Post", post_path(@post), method: :delete, class: 'btn btn-danger', data: { confirm: "Are you sure you want to delete this post?" }
  .post
    .post-head
      .name
        = link_to @post.user.username, user_path(@post.user.username)
    .image-center-block
      = image_tag @post.image.url(:medium)
    %p.caption
      = @post.caption
